mat-card-header {
  justify-content: center;
  background-color: antiquewhite;
  /* margin: 0px; */
  padding: 0px;
}
h2 {
  margin: 16px auto;
  /* padding: 12px auto; */
}

.context {
  margin: 1rem;
  font-size: 1.2rem;
}

.grid-days {
  display: grid;
  /* auto-fit se encarga de "colapsar" columnas vacías y centrar mejor el contenido */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center; /* Centra las columnas cuando hay espacio sobrante */
  padding: 1rem;
}

mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.context {
  width: 100%;
  margin: 0 auto;
}
.info-text {
  width: 750px;
  margin: 0 auto;
}

.title-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 12px auto;
}
.title-image {
  width: 250px;

  height: auto;
  border-radius: 2%;
}

@media (max-width: 450px) {
  .info-text {
    width: 87%;
  }
  .grid-days {
    display: grid;
    /* auto-fit se encarga de "colapsar" columnas vacías y centrar mejor el contenido */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-content: center; /* Centra las columnas cuando hay espacio sobrante */
    padding: 3rem;
  }
}

@media (min-width: 450px) {
  .card img {
    width: 100px;
    height: auto;
  }
}
