<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>

<div class="context">
  <picture class="title-image-container">
    <img class="title-image" src="media/LeoncitoSano.jpg" alt="Leoncio" />
  </picture>
  <div class="info-text">
    <p>
      Leoncito presentó problemas renales y aunque intentamos con ayuda externa,
      no se presentó mejoría. Por lo que de urgencia fue internado.
    </p>
    <p>El origna sangre y no puede defecar. 😓</p>
    <p>
      Actualmente se encuentra en cuidado intensivo y con pronóstico reservado.
      <br />
      Los(as) veterinarios(as) le están haciendo tratamientos para rehidratarlo
      y sacarlo del cuadro anémico porque no quería comer y a penas bebía agua.
    </p>
    <h4>A continuación se muestra día a día cómo va avanzando.</h4>
  </div>
</div>

<div class="grid-days">
  <app-card-day class="card"
    *ngFor="let dayData of days"
    [day]="dayData.day"
    [description]="dayData.description"
    [mediaItems]="dayData.mediaItems"
  >
  </app-card-day>
</div>
<app-donar></app-donar>
