.context {
  margin: 1rem;
  font-size: 1.2rem;
}

.grid-days {
  display: grid;
  /* auto-fit se encarga de "colapsar" columnas vacías y centrar mejor el contenido */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center; /* Centra las columnas cuando hay espacio sobrante */
  padding: 1rem;
}

mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.context {
  width: 750px;
  margin: 0 auto;
}

@media (max-width: 450px) {
  .context {
    width: 87%;
  }
}
