<div class="countdown-container">
  <mat-card class="countdown-card">
    <mat-card-header class="title-container">
      <mat-card-title class="title"
        >Cuenta Regresiva para la Rifa</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <h3>{{ formattedTime }}</h3>
      <a
        mat-button
        href="https://www.youtube.com/live/5fSuSGFhjBg"
        target="_blank"
        class="no-link"
        >Link al directo en Youtube</a
      >
    </mat-card-content>
  </mat-card>
</div>
