/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Panel blanco con texto negro */
.white-dialog-panel .mat-dialog-container {
  background-color: #ffffff !important;
  color: #000000 !important;
  box-shadow: none !important;
  border-radius: 8px !important;
  padding: 1.5rem !important;
}


@media (max-width: 600px) {
  .white-dialog-panel .mat-dialog-container {
    width: 100%;
    max-width: none;
  }
}

.white-backdrop {
  background: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
}

/* Aplica sólo a este diálogo gracias a panelClass */
.white-dialog-panel .mat-dialog-container {
  background-color: #ffffff !important;
}

/* Si quieres que el <div class="dialog-content"> también sea blanco */
.white-dialog-panel .dialog-content {
  background-color: #ffffff;
}

